{% extends 'base.html.twig' %}

{% block body %}
    <h1>Attachment list</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">List</h3>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Point</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for attachment in attachments %}
                <tr>
                    <td><a href="{{ path('attachment_show', { 'id': attachment.id }) }}">{{ attachment.id }}</a></td>
                    <td>{{ attachment.title }}</td>
                    <td>
                        <a href="{{ path('point_show', { 'id': attachment.point.id }) }}">{{ attachment.point.title }}</a></td>
                    <td>
                        <a href="{{ path('attachment_show', { 'id': attachment.id }) }}" class="btn btn-default">
                            <i class="fa fa-eye" aria-hidden="true"></i> show
                        </a>
                        <a href="{{ path('attachment_edit', { 'id': attachment.id }) }}" class="btn btn-default">
                            <i class="fa fa-pencil" aria-hidden="true"></i> edit
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
