{% extends 'base.html.twig' %}

{% block body %}
    <div class="pull-right">
        <a href="{{ path('icon_index') }}" class="btn btn-default">Back to the list</a>
        {{ form_start(delete_form, {'attr': {'style': 'display: inline-block'}}) }}
        <input type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </div>
    <h1>Icon edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}


{% endblock %}
