{% extends 'base.html.twig' %}
{% import "embed/macros.html.twig" as embed %}

{% block body %}
    <div class="pull-right">
        <a href="{{ path('map_index') }}" class="btn btn-default">Back to the list</a>
        <a href="{{ path('map_edit', { 'id': map.id }) }}" class="btn btn-default">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Edit
        </a>
        {{ form_start(delete_form, {attr:{style: 'display: inline-block' }}) }}
        <input type="submit" value="Delete" class="btn btn-danger">
        {{ form_end(delete_form) }}
    </div>

    <h1>Map</h1>
    {{ embed.iframe_map(map, {style: 'min-height: 300px; width: 100%; margin-bottom: 1em;'}) }}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Info</h2>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ map.id }}</td>
                        </tr>
                        <tr>
                            <th>Slug</th>
                            <td>{{ map.slug }}</td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td>{{ map.title }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            {% include 'default/_table_history.html.twig' with {'obj': map} %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                Points
                <a href="{{ path('point_new', { 'map_id': map.id }) }}" class="btn btn-default btn-xs">
                    <i class="fa fa-plus" aria-hidden="true"></i> New point
                </a>
            </h2>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for point in map.points %}
                <tr>
                    <td><a href="{{ path('point_show', { 'id': point.id }) }}">{{ point.id }}</a></td>
                    <td>{{ point.title }}</td>
                    <td>
                        <a href="{{ path('point_show', { 'id': point.id }) }}" class="btn btn-default">
                            <i class="fa fa-eye" aria-hidden="true"></i> show
                        </a>
                        <a href="{{ path('point_edit', { 'id': point.id }) }}" class="btn btn-default">
                            <i class="fa fa-pencil" aria-hidden="true"></i> edit
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ include('map/_panel_embed.html.twig') }}

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('share/sowp-map.js') }}"></script>
  <script src="{{ asset('share/code-preview.js') }}"></script>
{% endblock %}
